body {
    padding-top: 100px; /* Navbar blokkeerde eerste h1 element */    
}

figcaption {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block; /* Makes the image a block element */
    margin-left: auto; /* Auto margin on the left */
    margin-right: auto; /* Auto margin on the right */
}






/* .row {
    display: flex;
    flex-wrap: wrap;
} */
/*
article {
    display: flex;
    flex-direction: column;
    height: 100%; /* Om er zeker van te zijn dat het artikel de volledige hoogte van zijn container inneemt */
}

/* h1, p {
    flex: 1; /* Dit zorgt ervoor dat de titel en paragraaf de beschikbare ruimte opvullen */
} */ */